#policyLayout{
  background-color: transparent;
  width: 1000px;
  height: 1000px;
  margin: auto;
  box-sizing: border-box;
}

#policyContainer{
  background-color: wheat;
  width: 500px;
  height: 800px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  left: 25%;
  top: 10%;
  
}

.policyAll{
  background-color: white;
  width: 400px;
  height: 100px;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
  left: 3%;
  top: 5%;
}

.policy{
  background-color: white;
  width: 400px;
  height: 150px;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
  left: 3%;
  top: 5%;
  margin-top: 10%;
}

.option_point, .must_point {
  display: inline-block;
  margin-right: 5px; /* 이용약관 텍스트와의 간격 조정 */
  font-size: 0.7em;
}

.text {
  display: inline-block;
}

#checkBox{
  margin: 10px;
}

.must_point{
  color: green;
}

.option_point{
  color: grey;
}

.policyAllContent{
  /* background-color: grey; */
  border: 0.1px solid black;
  width: 350px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  left: 8%;

}

.policyContent{
  /* background-color: grey; */
  border: 0.1px solid black;
  width: 350px;
  height: 100px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  left: 8%;
}

p{
  margin: 0px;
  font-size: 0.8em;
}

#policySubmit{
  position: relative;
  width: 400px;
  height: 30px;
  border-radius: 20px;
  left: 30%;
  top: 13%;
}

