@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*{
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

#signupLayout{
  background-color: transparent;
  width: 1000px;
  height: 1000px;
  margin: auto;
  box-sizing: border-box;
}

#signupContainer{
  background-color: wheat;
  width: 500px;
  height: 750px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  left: 28%;
  top: 10%;
}

#newInfo{
  background-color: white;
  width: 400px;
  height: 230px;
  border-radius: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  top: 5%;
}

.newId,
.newPw,
.checkPw,
.newEmail{
  position: relative;
  /* margin: 10% 10%; */
  /* left: 25%; */
  /* top: 20%; */
  padding: 2% 5%; /*위아래 / 양옆*/
  box-sizing: border-box;
}

#addInfo{
  background-color: white;
  width: 400px;
  height: 345px;
  border-radius: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  top: 40%;
}

.newNickname,
.newProPic,
.newBirth,
.gender,
.countryCode,
.phoneNo{
  position: relative;
  /* margin: 10% 10%; */
  /* left: 25%; */
  /* top: 20%; */
  padding: 2% 5%; /*위아래 / 양옆*/
  box-sizing: border-box;
  align-items: center;
  width: 400px;
  height: 53px;
  display: flex;
  
  
}

#signupContainer .login_icon{
  
  /* position: absolute;
	top: 30px; */
  vertical-align: middle; /* 수직 정렬 설정 */
  margin-right: 10px; /* 아이콘과 입력란 사이의 간격 조정 */
}

#signupContainer .input_text{
  /* border: 0.1px solid black; */
  border: none;
  background: none;
  border-bottom: 2px solid #D1D1D4;
  transition: .2s;
  /* border-radius: 5px; */
  /* margin-left: 10px; */
  width: 60%;
  padding: 10px;
	/* padding-left: 24px; */
  
}

#signupContainer .input_text::placeholder {
  color: gray; /* 플레이스홀더의 기본 색상 설정 */
}

#signupContainer .input_text:focus::placeholder {
  color: gray; /* 색상을 원하는 색으로 변경하세요 */
  transform: translateY(-80%);
  transition: transform 0.3s ease-in-out;
}

#signupContainer .input_text:active,
#signupContainer .input_text:hover,
#signupContainer .input_text:focus {
	outline: none;
	border-bottom-color: #6A679E;
}

.formContainer{
  position: relative;
  top: 10%;
}

#signupSubmit{
  position: relative;
  width: 400px;
  height: 30px;
  border-radius: 20px;
  left: 10%;
  top: 90%;
}

#month{
  margin-left: 10px;
  width: 60px;

}

#day{
  margin-left: 20px;
  width: 60px;
  
}

#year{
  margin-left: 20px;
  width: 60px;
}

#maleRadio{
  margin-left: 10px;
  
}

#femaleRadio{
  margin-left: 30px;
  
}

.genderText {
  display: inline-block;
}

/*체크 글씨*/
#signupContainer span{
  color: red;
  font-size: 0.75em;
  margin-left: 20px;
}