

#calendarContainer {
  background-color: lightpink;
  width: 440px;
  height: 450px;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  left: 43%;
  top: -40%;
  z-index: 2;
}

.calendarInfo{
  background-color: lightblue;
  width: 440px;
  height: 450px;
  position: relative;
  left: 45%;
  top: -83%;
  border-radius: 20px;
  transition: translateY(-50%);
  z-index: 1;
}

.calendarTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.monthYear{
  text-align: center;
  width: 150px;
}

.calendarTitle button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day{
  text-align: center;
  padding: 5px;
}

.dates{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.date{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}

.date:hover,
.date.active{
  background-color: cadetblue;
  color: #fff;
}

.date.inactive{
  color: #d2d2d2;
}

.date.inactive:hover{
  color: #fff;
}





