

#editContainer{
  background-color: wheat;
  width: 440px;
  height: 450px;
  position: relative;
  left: 43%;
  top: -40%;
}


.editInfo {
  display: grid;
  grid-template-rows: repeat(0, 100px);
  gap: 20px;
  /* justify-content: center; */
  justify-content: flex-start;
  width: 440px;
  height: 450px;
  overflow: auto;
  padding: 10px;
  border: 1px solid #ccc;
  align-items: center;
  background-color: #f9f9f9;
  
}

.editInfo div{
  display: flex;
  background-color: lightpink;
  height: 40px;
  width: 400px;
  align-items: center;
  margin-right: 15px;
  border-radius: 10px;
}

#editContainer .input_text{
  /* border: 0.1px solid black; */
  border: none;
  background: none;
  border-bottom: 2px solid #D1D1D4;
  transition: .2s;
  /* border-radius: 5px; */
  /* margin-left: 10px; */
  width: 60%;
  padding: 5px;
	/* padding-left: 24px; */
  
}

#editContainer .input_text:active,
#editContainer .input_text:hover,
#editContainer .input_text:focus {
	outline: none;
	border-bottom-color: #6A679E;
}

#editContainer button {
  position: relative;
  top: 16%;
  /* left: 15%; */
  width: 400px;
}

#editContainer #changePw{
  width: 100px;
  
}

#editContainer .input_text{
  color: grey;
}

#editContainer .input_text:hover{
  color: black;
}

#editContainer span{
  vertical-align: middle;
  margin-right: 20px;
  display: inline-block;
  min-width: 70px;
}

#editContainer .editCaption{
  height: 50px;
}



