#wishContainer{
  background-color: wheat;
  width: 440px;
  height: 450px;
  position: relative;
  left: 43%;
  top: -40%;
}

.wishTitle h3{
  margin: 0;
  padding: 10px 10px 10px 0px; /*위 아래 오른쪽 왼쪽*/
}

.wishTitle .line{
  border: 1px solid grey;
  width: 440px;
}

.movieContainer{
  display: grid;
  grid-template-columns: repeat(3, 100px); /* 3열 각각 100px 너비 */
  grid-template-rows: auto; /* 자동 행 크기 */
  gap: 30px; /* 그리드 간격 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  width: 400px;
  height: 330px;
  overflow: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
  padding: 10px;
  border: 1px solid #ccc; /* 테두리 */
  background-color: #f9f9f9;
  position: relative;
  left: 5%;
  top: 3%;
}

#wishContainer .movie{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* 아이템 너비 */
  height: 150px; /* 아이템 높이 */
  background-color: #e1e1e1; /* 그리드 아이템 배경색 */
  border: 1px solid #ddd; /* 그리드 아이템 테두리 */
  margin: auto; /* 가운데 정렬 */
  
}

.numbering{
  background-color: grey;
  position: relative;
  width: 400px;
  height: 30px;
  top: 7%;
  left: 5%;
}